.background-image {
    --bg-image: url("https://img.freepik.com/free-photo/top-view-organised-arrangement-desk-elements-pink-background_23-2148513293.jpg?w=2000");
    --bg-image-opacity:.5;
    isolation: isolate;
}

.background-image::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset:0;
    opacity:var(--bg-image-opacity);
    background-image: var(--bg-image) ;
    background-size: cover;
    background-position: center;
}

.circle-slider {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 50%;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-draggable {
    width: 30px;
    height: 30px;
    background-color: plum;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
}

.slider-numbers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: -20px;
    font-size: 20px;
}

.number {
    width: 20px;
    text-align: center;
}

.theme {
    top: 230px; 
    left: 870px; 
    position: absolute;
    font-size: 30px;
    color: rgb(248, 0, 103);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
  }

  
.display {
    width: 600px;
    height: 200px;
    border: 2px solid #000; /* Add a border to make the square visible */
    padding: 20px;
    font-size: 40px;
}

.button-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 100px); /* Adjust the column width as needed */
    grid-column-gap: 60px; /* Adjust the gap between buttons as needed */
    background-color: #fb00b4;
    padding: 7px;
   
    
  }

.button-grid button {
    font-size: 40px; /* Set the font size for the button text */
    width: 150px;
    height: 70px; /* Set the height of the buttons */
  }

#zero {
    background-color: purple;
    order: 14;
    
}

#one {
    background-color: purple;
    order: 9;
    
}

#two {
    background-color: purple;
    order: 10;
    
}

#three {
    background-color: purple;
    order: 11;
    
}

#four {
    background-color: purple;
    order: 5;
    
}

#five {
    background-color: purple;
    order: 6;
    
}

#six {
    background-color: purple;
    order: 7;
    
}

#seven {
    background-color: purple;
    order: 1;
    
}

#eight {
    background-color: purple;
    order: 2;
    
}

#nine {
    background-color: purple;
    order: 3;
    
}

#DEL {
    background-color: orangered;
    order: 4;
    
}

#equals {
    background-color:red;
    order: 18;
    
    
}

#decimal {
    background-color:red;
    order: 13;
    
}

#clear {
    background-color:red;
    order: 17;
    
    
}

#minus {
    background-color:red;
    order: 12;
    
}

#plus {
    background-color:red;
    order: 8;
    
}

#multiply {
    background-color:red;
    order: 15;
    
}

#divide {
    background-color:red;
    order: 16;
    
}