.background-image {
    --bg-image: url("https://img.freepik.com/free-photo/top-view-organised-arrangement-desk-elements-pink-background_23-2148513293.jpg?w=2000");
    --bg-image-opacity:.5;
    isolation: isolate;
}

.background-image::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset:0;
    opacity:var(--bg-image-opacity);
    background-image: var(--bg-image) ;
    background-size: cover;
    background-position: center;
}

.keyboard {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid black;
    padding: 0.5vw;
  }
  

.circle-slider {
    position: relative;
    width: 8vw;
    height: 4vh;
    border-radius: 50%;
    background-color: pink;
    color: white;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-draggable {
    width: 1vw;
    height: 2.5vh;
    background-color: plum;
    border-radius: 50%;
    position: absolute;
    left: 0.5vw;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
}

.slider-numbers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: -1.5vh;
    font-size: 0.8vw;
    color: #000;
}

.number {
    text-align: center;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
  }

  
  .display {
    width: 23.5vw;
    height: 17.5vh;
    border: 2px solid #000; 
    padding: 0.8vw;
    font-size: 1.5vw;
}

.button-grid {
    margin-top: 1.75vh;
    display: grid;
    grid-template-columns: repeat(4, 3.9vw); 
    grid-column-gap: 2.3vw; 
    background-color: #fb00b4;
    padding: 0.3vw;
   
    
  }

  .button-grid button {
    font-size: 1.5vw; 
    width: 6vw;
    height: 6vh; 
  }



#zero {
    background-color: purple;
    order: 14;
    
}

#one {
    background-color: purple;
    order: 9;
    
}

#two {
    background-color: purple;
    order: 10;
    
}

#three {
    background-color: purple;
    order: 11;
    
}

#four {
    background-color: purple;
    order: 5;
    
}

#five {
    background-color: purple;
    order: 6;
    
}

#six {
    background-color: purple;
    order: 7;
    
}

#seven {
    background-color: purple;
    order: 1;
    
}

#eight {
    background-color: purple;
    order: 2;
    
}

#nine {
    background-color: purple;
    order: 3;
    
}

#DEL {
    background-color: orangered;
    order: 4;
    
}

#equals {
    background-color:red;
    order: 18;
    
    
}

#decimal {
    background-color:red;
    order: 13;
    
}

#clear {
    background-color:red;
    order: 17;
    
    
}

#minus {
    background-color:red;
    order: 12;
    
}

#plus {
    background-color:red;
    order: 8;
    
}

#multiply {
    background-color:red;
    order: 15;
    
}

#divide {
    background-color:red;
    order: 16;
    
}