.background-image {
    --bg-image: url("https://c8.alamy.com/comp/HNRJ4N/on-graph-paper-are-compasses-protractor-ruler-eraser-and-a-pencil-HNRJ4N.jpg");
    --bg-image-opacity:.5;
    isolation: isolate;
}

.background-image::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset:0;
    opacity:var(--bg-image-opacity);
    background-image: var(--bg-image) ;
    background-size: cover;
    background-position: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
  }

  
.display {
    width: 700px;
    height: 300px;
    border: 2px solid #000; /* Add a border to make the square visible */
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

.button-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 100px); /* Adjust the column width as needed */
    grid-gap: 10px; /* Adjust the gap between buttons as needed */
    background-color: #000;
  }

  .button-grid button {
    font-size: 30px; /* Set the font size for the button text */
    
    height: 60px; /* Set the height of the buttons */
  }

#zero {
    background-color: aqua;
    order: 14;
    
}

#one {
    background-color: aqua;
    order: 9;
    
}

#two {
    background-color: aqua;
    order: 10;
    
}

#three {
    background-color: aqua;
    order: 11;
    
}

#four {
    background-color: aqua;
    order: 5;
    
}

#five {
    background-color: aqua;
    order: 6;
    
}

#six {
    background-color: aqua;
    order: 7;
    
}

#seven {
    background-color: aqua;
    order: 1;
    
}

#eight {
    background-color: aqua;
    order: 2;
    
}

#nine {
    background-color: aqua;
    order: 3;
    
}

#DEL {
    background-color: red;
    order: 4;
    
}

#equals {
    background-color:cornsilk;
    order: 18;
    
    
}

#decimal {
    background-color:cornsilk;
    order: 13;
    
}

#clear {
    background-color:cornsilk;
    order: 17;
    
    
}

#minus {
    background-color:cornsilk;
    order: 12;
    
}

#plus {
    background-color:cornsilk;
    order: 8;
    
}

#multiply {
    background-color:cornsilk;
    order: 15;
    
}

#divide {
    background-color:cornsilk;
    order: 16;
    
}